<div class="formulaire">
<%= simple_form_for innovation do |f| %>
  <%= f.input :Domaine %>
  <%= f.input :Auteur%>
  <%= f.input :Titre%>
  <%= f.input :Date%>
  <%= f.input :Photo%>
  <%= f.input :Description%>

  <%= f.button :submit %>
  </div>
<% end %>


