
<link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:500, 700&display=swap" rel="scaffolds.scss">
<link href="https://fonts.googleapis.com/css?family=Rubik:300&display=swap" rel="scaffolds.scss">

<p id="notice"><%= notice %></p>

<div class="title">
<h1>Mus'Innovation</h1>
<h2> conçu et pensé par Marie Simonek </h2>
</div>


<div class="container">


  <div class="row">
    <% @innovations.each do |innovation| %>
      <div class="card col-12 col-md-4" style="width: 18rem;">
        <img src="<%= innovation.Photo %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= innovation.Titre %></h5>
          <p class="card-text"><%= innovation.Auteur%></p>
          <%= link_to 'Découvrir'.html_safe, innovation, class: 'bouton_show btn btn-primary' %>
        </div>
      </div>
    <% end %> 
  </div>
  <%= link_to 'Ajouter une innovation'.html_safe,new_innovation_path, class: 'bouton_new btn btn-primary' %>

</div>





