<p id="notice"><%= notice %></p>
<div class="fiche_oeuvre">
  <strong>Domaine:</strong>
  <%= @innovation.Domaine %>
</p>

<p>
  <strong>Auteur:</strong>
  <%= @innovation.Auteur %>
</p>

<p>
  <strong >Titre:</strong>
  <%= @innovation.Titre %>
</p>

<p>
  <strong>Date:</strong>
  <%= @innovation.Date %>
</p>

<p>
  <strong>Photo:</strong>
  <img src="<%= @innovation.Photo %>" style="width:50%">
</p>

<p>
  <strong>Description:</strong>
  <%= @innovation.Description %>
</p>

<%= link_to 'Modifier', edit_innovation_path(@innovation),  class: 'bouton_modif btn btn-primary' %> 
<%= link_to 'Retour', innovations_path,  class: 'bouton_retour btn btn-primary' %>
</div>
